 .u-section-1 {
  background-image: linear-gradient(white, #b7703f);
}

.u-section-1 .u-sheet-1 {
  min-height: 809px;
}

.u-section-1 .u-shape-1 {
  width: 38px;
  height: 38px;
  margin: 504px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 423px;
  height: 650px;
  margin: -384px -53px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: -584px auto 0;
}

.u-section-1 .u-image-2 {
  width: 210px;
  height: 628px;
  margin: -187px auto 0 93px;
}

.u-section-1 .u-shape-2 {
  width: 36px;
  height: 36px;
  margin: -138px 516px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 36px;
  height: 36px;
  margin: -25px auto 0 -36px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 7px auto 42px;
  padding: 10px 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -657px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -114px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -322px;
    margin-right: -103px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -719px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -46px;
    margin-left: -6px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -206px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 62px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-2 {
    margin-top: 9px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -261px;
    margin-right: 504px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 450px;
    margin-top: -250px;
    margin-right: -111px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -566px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-image-2 {
    width: 155px;
    height: 476px;
    margin-top: 20px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -145px;
    margin-right: 304px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(183,112,63,0.7), rgba(183,112,63,0.7)), url("images/81cj7F9NqL._AC_UL320_.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 596px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 8px;
  margin-bottom: 26px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 594px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 501px;
  height: 451px;
  margin: 63px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 594px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 11px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 87px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 75px auto 0;
  padding: 10px 32px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 19px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-2 .u-image-1 {
    width: 453px;
    height: 407px;
    margin-right: -30px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 4px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-2 .u-image-1 {
    width: 350px;
    height: 315px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 46px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 308px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-2 .u-image-1 {
    height: 306px;
    margin-top: 23px;
    margin-bottom: -23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 593px;
}

.u-section-3 .u-line-1 {
  width: 266px;
  transform-origin: left center 0px;
  position: absolute;
  top: 52px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  width: 314px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-3 .u-image-1 {
  width: 320px;
  height: 289px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 73px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 176px;
  height: 289px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -289px auto 0;
}

.u-section-3 .u-image-3 {
  width: 284px;
  height: 247px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -268px 14px 0 auto;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 91px auto 60px;
  padding: 10px 32px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-line-1 {
    height: 3px;
    left: 437px;
  }

  .u-section-3 .u-image-2 {
    height: 288px;
  }

  .u-section-3 .u-image-3 {
    height: 248px;
    margin-top: -267px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1071px;
  }

  .u-section-3 .u-line-1 {
    top: 49px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 17px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 38px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 14px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 14px;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 40px;
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 572px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 39px auto 0;
}

.u-section-4 .u-line-1 {
  width: 266px;
  transform-origin: left center 0px;
  margin: -3px auto 0;
}

.u-section-4 .u-image-1 {
  width: 269px;
  height: 325px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 36px auto 0 45px;
}

.u-section-4 .u-image-2 {
  width: 208px;
  height: 312px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -325px auto 0;
}

.u-section-4 .u-image-3 {
  width: 314px;
  height: 322px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -309px 0 0 auto;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 40px 466px 39px auto;
  padding: 10px 32px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 32px;
    margin-right: auto;
    margin-bottom: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1245px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-1 {
    margin-top: 37px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: 19px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 23px;
    margin-right: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}